{% extends 'base.html' %}
{% block content %}

<h1>PASSWORD GENERATOR</h1>

<form  class="form-inline" action="{% url 'password' %}">
    <br><br>
        <label for="length">Select password length</label>
    <br>
        <select id="length" name='length'>
            <option value="5"> 5</option>
            <option value="6" selected="selected"> 6</option>
            <option value="7">7</option>
            <option value="8">8</option>
            <option value="9"> 9</option>
            <option value="10"> 10</option>
            <option value="11">11</option>
            <option value="12"> 12</option>
        </select>
    <br>
        <input type="checkbox" name='uppercase'>Uppercase
        <br>
        <input type="checkbox" name="numbers">Numbers
        <br>
        <input type="checkbox" name="special">Special
        <br>

    <button type="submit"  >Generate</button>

</form>
{% endblock %}